@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
html,
body {
  background-image: linear-gradient(to right, #051272 40%, #1573d1);
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

header > nav {
  margin-top: 50px;
  margin-bottom: 65px;
}

header > nav a {
  align-self: center;
  margin-right: 4px;
  padding: 32px 75px;
  border-radius: 70px;
  text-align: center;
  text-decoration: underline;
  color: #ffd000;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Montserrat", serif;
  font-size: 17px;
  transition: 0.5s;
  /* transform: translate(-3px, -3px); */
}

header > nav a.myskills {
  background-color: #ffd000;
  color: #034191;
  font-weight: bold;
  box-shadow: -1px -1px 20px 2px rgba(255, 230, 0, 0.554);
}

header > nav span.material-symbols-outlined {
  /* background-color: #87d147; */
  color: #ffd000;
  cursor: pointer;
  font-size: 17px;
  border: 1px solid orange;
  padding: 30px;
  border-radius: 70px;
  transition: 0.4s;
}
header > nav span.material-symbols-outlined:hover {
  background-color: #ffd000;
  color: #051272;
  box-shadow: -1px -1px 13px 9px rgba(255, 230, 0, 0.554);
}
header > nav a.home {
  padding: 12px;
  box-shadow: -1px -1px 13px 9px rgba(255, 255, 255, 0);
}
header > nav > a.home:hover {
  background-color: #03419100;
  box-shadow: -1px -1px 13px 9px rgba(255, 255, 255, 0);
}

header > nav > a:hover {
  background-color: #ffd000;
  color: #034191;
  font-weight: bold;
  box-shadow: -1px -1px 13px 9px rgba(255, 230, 0, 0.554);
}

span#burguer {
  display: none;
}

main {
  margin-top: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

section.text {
  width: 40%;

  color: white;
  text-align: justify;
  margin-left: 50px;
}

section.text h1 {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 12px;
}

section.text h2 {
  color: #ffd000;
  margin-bottom: 25px;
  font-weight: bolder;
}

section.text hr {
  border: 1px solid #ffd000;
  margin-bottom: 45px;
}

section p.p1 {
  text-indent: 40px;
  font-size: 1.3em;
}

section p.p2 {
  text-indent: 40px;
  font-size: 1.3em;
}

section.image > img {
  border-radius: 50%;
  border: 5px solid #ffd000;
  width: 470px;
  background-color: rgb(224, 224, 224);
}
